body{
    margin: 0;
    padding: 0;
    font-family:'Rubik', sans-serif ;
    box-sizing: border-box;
    background-color: #fff;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background:#F1C40F;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-pic {
    width: 600px;
    height: auto;
    margin-right: 150px;
}

.intro {
    max-width: 600px;
    text-align: left;
    margin-left: 200px;
    margin-bottom: 50px;
}

.title {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
}

h1 {
    font-size: 45px;
    margin: 10px 0;
    color: #000;
}

h1 span {
    color: #ffcc00;
}

.social-links a {
    text-decoration: none;
    color: #fff;
    background-color: #0073b1;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}



.social-links a:nth-child(3) {
    background-color: #f0f0f0;
    color: #000;
}

.social-links a, .social-links button {
    margin-right: 20px;
    color: #F1C40F;
    text-decoration: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.social-links a:hover, .social-links button:hover {
    color: #FFF;
}

.social-links img.email-icon {
    width: 28px; 
    height: auto; 
    margin-top: -0.3em;
    vertical-align: middle;
}

.message-box {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #F1C40F;
    border: 2px solid #F1C40F;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}


/*-----about------*/
#about{
    padding:80px 0;
    color:#F1C40F;
    background-color: #080808;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.about-col-1{
    flex-basis: 35%;
    flex-shrink: 0;
}

.about-col-1.img{
    width: 100%;
    height: auto; 
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    margin-top: 0;
    margin-left: 1em;
    color: #F1C40F;
    align-self: flex-start;
}

.introduction {
    margin-top: 20px;
    margin-left: 4em; 
    color: #fff; 
    font-size: 18px; 
    line-height: 1.5; 
}

.tab-titles{
    display: flex;
    justify-content: flex-start;
    margin: 40px 0 40px;
    padding-left: 4em;
}

.tab-links{
    margin-right: 50px;
    font-size: 24px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background: hsl(11, 93%, 49%);
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%
}

.tab-contents ul li{
    padding-left: 4em;
    padding-top: 0.5em;
    list-style:none;
    margin: 10px 0;
}

.tab-contents ul li span{
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}

.tab-contents i {
    margin-right: 10px; /* Space between icon and text */
    font-size: 24px; /* Adjust the icon size */
    color: #F1C40F; /* Icon color */
}


.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/*-----CV------*/
#cv {
    padding: 50px 50px;
    color: #F1C40F;
    background-color: #fff;
}


#cv .container {
    text-align: center;
}

#cv iframe {
    width: 100%;
    height: 800px; 
    margin-top: 50px; 
}

/*Project Section */
.containerForRole {
    margin-top: 5em;
    margin-left: 10em;
    margin-right: 10em;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: stretch; 
}

.boxWdesc{
    justify-content: center;
}


.box {
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    background-color: #f4f7f4;
    text-align: center;
    color: black;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.title, .description {
    width: 100%; /* Ensures that title and description fill the width of the box */
}

.title, .description {
    width: 100%; /* Makes title and description take full width of the box */
}

.title {
    font-size: 36px;
    font-weight: bold;
    line-height: 100px; 
}


.description img {
    display: block;
    max-width: 100%; /* ensures the image is responsive and fits the container */
    height: auto; /* maintains the aspect ratio of the image */
    margin: 0 auto 20px; /* centers the image horizontally */
}

.description p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    padding: 5px;  /* Padding around text for better readability */
}

.extraDesc {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    text-align:initial;
    color: black;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.4;
}

#titleD{
    font-size: 22px;
    font-weight: bolder;
}

.extraDesc ul {
    padding-left: 1em;  /* Adjusted for less space */
    list-style-type: none; /* Removes default bullets */
}

.extraDesc li {
    margin-bottom: 1px;
    position: relative; /* Needed for absolute positioning of the marker */
}

.extraDesc li::before {
    content: "✔"; /* Your custom marker */
    position: absolute;
    left: -20px; /* Adjust this value to control the distance of the marker from the text */
    font-size: 16px; /* Adjust the size of the marker if needed */
}


/*Projects - Details */
.detailed-projects{
    display: block;
    margin: 10em;
    
}


@media (max-width: 768px) {
    .containerForRole {
        flex-direction: column;
    }
    .boxWdesc {
        flex-basis: 100%;
        margin: 10px 0;
    }
    .extraDesc {
        margin-top: 10px;
    }
}


footer{
    text-align: center;
    padding: 3px;
}